body {
  background: #f4f6f9;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 1300px;
  margin: 25px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

